page-home {

    .fundo { 
        background: #fffbd5;
        background: -webkit-linear-gradient(to right, #fffbd5, #b20a2c); 
        background: linear-gradient(to right, #fffbd5, #b20a2c);
    }

    h3{
        text-align: center;
        color:  #8a046d;
    }

    img{
        width: 300px;
        align-self: center;
        margin:auto;
        display:block;
        padding: 10px;
    }

    .cor {
        background: #fffbd5;
        background: -webkit-linear-gradient(to right, #fffbd5, #b20a2c); 
        background: linear-gradient(to right, #fffbd5, #b20a2c);
        border-radius: 30px;
        padding: 27px;
        font: 1.6em sans-serif;
        margin-top: 90px;
    }

    .icon {
        color:  #8a046d;
        font-size: 30px;
    }
    .input {
        top: 70px;
        background: #fffbd5; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #fffbd5, #b20a2c); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #fffbd5, #b20a2c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    .escrita {
        font-size: 2.4em;
        color:  #8a046d;
    }
}
