@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body {
    background-image: url("./img/es.jpg");
}
.msg {
    border-radius: 7px;
    margin: 4px;
    width: 756px;
    text-align: center;
    font-size: 1.8em;
    font-family: Blippo, fantasy;
    color: white;
    background: #396afc;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2948ff, #396afc);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2948ff, #396afc); 
}
.table1 {
    margin: 0 0 0 31%;
    width: 480px;
    font-size: 1.6em;
    border-radius: 7px;
}
.table2 {
    margin: 3% 0 0 17%;
    left: 450px;
    width: 800px;
    font-size: 1.6em;
    border-radius: 7px;
}
.td {
    color:rgb(8, 8, 8);
}
th {
    font-family: Blippo, fantasy;
    color:rgb(8, 8, 8);
    background: #396afc;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2948ff, #396afc);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2948ff, #396afc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    font-size: 1em;
    padding: 11px;
    border-radius: 7px;
    /*text-shadow: rgb(8, 8, 8) 8px 2px 8px;*/
}
td {
    border-radius: 7px;
    padding: 13px 5px;
    color: white;
    background: #396afc;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2948ff, #396afc);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2948ff, #396afc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    font-family: Helvetica, sans-serif;
    text-align: center;
}
td input[type="text"] {
    width: 80px;
    border-radius: 4px;
    padding: 5px;
    font-size: 0.7em;
    outline: none;
    background: none;
    color: white;
}
::placeholder{
    font-size: 0.8em;
    color: white;
}
td input[type="number"] {
    width: 58px;
    border-radius: 4px;
    padding: 5px;
    font-size: 0.7em;
    outline: none;
    background: none;
    color: white;
}
td input[type="date"] {
    width: 137px;
    border-radius: 4px;
    padding: 5px;
    font-size: 0.7em;
    outline: none;
    background: none;
    color: white;
}
td input[type="time"] {
    width: 77px;
    border-radius: 4px;
    padding: 5px;
    font-size: 0.7em;
    outline: none;
    background: none;
    color: white;
}
td input[type="button"] {
    width: 80px;
    padding: 5px;
    font-size: 0.7em;
    border-radius: 4px;
    color: white;
    background: #396afc;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2948ff, #396afc);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2948ff, #396afc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    font-family: Helvetica, sans-serif;
    text-shadow: rgb(0, 0, 0) 8px 3px 8px;
}
select {
    font-size: 1em;
    border-radius: 4px;
    color:rgb(8, 8, 8);
    font-family: OCR A Std, monospace;
    outline: none;
    background: none;
    padding: 0 5px;
}
button {
    font-size: 1em; /*fonte da tabela e botoes*/
    border-radius: 8px;
    color: white;
    background: #396afc;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2948ff, #396afc);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2948ff, #396afc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    font-family: OCR A Std, monospace;
    text-shadow: rgb(0, 0, 0) 8px 3px 8px;
    padding: 0 12px;
}