<ion-header>
  <ion-toolbar>
    <ion-title>alimentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- <ion-item class="bak" ion-item *ngFor="let a of aa">
      <h1>IdAli: </h1>
      <p class="cor">{{a.idali}}</p>
      <h1>Id_ca: </h1>
      <p class="cor">{{a.id_ca}}</p>
      <h1>NomeAli: </h1>
      <p class="cor">{{a.nomeali}}</p>
      <h1>Descrição: </h1>
      <p class="cor">{{a.descricao}}</p>
      <h1>Quantidade: </h1>
      <p class="cor">{{a.qtd}}</p>
      <h1>Preço: </h1>
      <p class="cor">{{a.preco}}</p>
      <h1>Imagem: </h1>
      <p class="cor">{{a.img}}</p>
    </ion-item>-->
  </ion-list>
</ion-content>